version: "3.8"

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: chat-app-server
    ports:
      - "4000:4000"
    environment:
      - NODE_ENV=development
      - PORT=4000
      - DATABASE_URL=postgres://postgres:password@Blinkchat-postgres:5432/chatdb
      - REDIS_HOST=Blinkchat-redis
      - REDIS_PORT=6379
    volumes:
      # MATCH THE WORKDIR IN DOCKERFILE (/app)
      - .:/app
      - /app/node_modules
    depends_on:
      - postgres
      - redis
    networks:
      - chat-network

  postgres:
    image: postgres:15-alpine
    container_name: Blinkchat-postgres
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=chatdb
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - chat-network

  redis:
    image: redis:7-alpine
    container_name: Blinkchat-redis
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - chat-network

volumes:
  postgres_data:
  redis_data:

networks:
  chat-network:
    driver: bridge
